@import 'mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    @include flexDisplay();
    .container {
        @include flexDisplay();
        min-width: 100vw;
        min-height: 100vh;
        background: linear-gradient(180deg, lightblue, lightcyan);
        header {
            text-align: center;
            margin: 5vh;
            h1 {
                margin: 1.5vh;
            }
        }
        .items {
            @include flexDisplay();
            .items-list {
                @include flexDisplay();
                list-style: none;
                text-align: center;
                .list-item {
                    background: moccasin;
                    border-radius: 10px;
                    margin: 1vh;
                    @include flexDisplay();
                    flex-direction: row;
                    input,
                    .item {
                    margin: 5px;
                    }
                    .delete {
                    margin: 10px;
                    }
                }
            }
        }
        .add-item {
            @include flexDisplay();
            flex-direction: row;
            margin: 5vh;
            input, 
            .add {
                margin: .5vw;
            }
            input {
                width: 150px;
            }
        }
    }
}