@import 'mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    @include flexDisplay();
    .container {
        @include flexDisplay();
        color: $main-red;
        min-width: 100vw;
        min-height: 100vh;
        background: linear-gradient(180deg, $main-beige, #D4B996);
        header {
            text-align: center;
            margin: 5vh;
            font-family: monospace;
            h1 {
                margin: 1.5vh;
                font-weight: 700;
                font-size: 2.5em;
            }
            p {
                font-weight: 700;
                font-size: 1.25em;
                font-style: italic;
            }
        }
        .items {
            @include flexDisplay();
            .items-list {
                @include flexDisplay();
                list-style: none;
                text-align: center;
                .list-item {
                    border: 2px solid $main-red;
                    border-radius: 10px;
                    margin: 1vh;
                    @include flexDisplay();
                    flex-direction: row;
                    input,
                    .item {
                    margin: 5px;
                    }
                    .delete {
                    margin: 10px;
                    outline: none;
                    border-radius: 5px;
                    min-width: 50px;
                    &:hover {
                        color: $main-beige;
                        background: $main-red;
                    }
                    }
                }
            }
        }
        .add-item {
            @include flexDisplay();
            flex-direction: row;
            margin: 5vh;
            input, 
            .add {
                margin: .5vw;
                border-radius: 5px;
                outline: none;
                min-width: 50px;
                &:hover {
                    color: $main-beige;
                    background: $main-red;
                }
            }
            input {
                width: 150px;
            }
        }
    }
}